<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${urlPurpose}" th:method="get">
    <label for="dropDownList">Выберите сервер, с которого хотите забрать данные:</label>
    <select id="dropDownList" th:name="serverName">
      <option th:each="entry : ${servers.entrySet()}" th:value="${entry.getKey()}" th:text="${entry.getValue()}"></option>
    </select>
    <div>
        <button type="submit" class="button">Принять</button>
    </div>
</form>
</body>
</html>