<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Export page</title>
</head>
<body>

<form th:action="@{/core/deb.php}" th:method="get">
  <input type="hidden" name="serverName" th:value="${serverName}">
  <div>
    <label for="date from">Выберите начало временного интервала</label>
    <input type="datetime-local" th:name="fdate" id="date from"/>
  </div>
  <br>
  <div>
    <label for="date to">Выберите конец временного интервала</label>
    <input type="datetime-local" th:name="sdate" id="date to"/>
  </div>
  <br>
  <div>
    <input type="radio" name="group" id="jsonR" value="1" th:name="jsonOrCsv">
    <label for="jsonR" th:text="JSON"></label>
    <br>
    <input type="radio" name="group" id="csvR" value="0" th:name="jsonOrCsv">
    <label for="csvR" th:text="CSV"></label>
  </div>
  <br>
  <div>
    <button type="submit" class="button">Скачать</button>
  </div>

</form>
<br>
</body>
</html>