<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin page</title>
</head>
<body>
<a href="/">
  <input type="submit" value="Назад">
</a> <br>
<a href="/admin/edit">Управление пользователями (Доступно только администраторам)</a> <br>
<a href="/admin/devices">Управление приборами (Требуется уровень доступа moderator или выше)</a> <br>
<a href="/admin/objects">Управление объектами (Требуется уровень доступа moderator или выше)</a> <br>
<a href="/admin/insert">Внесение данных (Требуется уровень доступа helper или выше)</a> <br>
<a href="/admin/calibration">Внесение калибровочных данных (Требуется уровень доступа helper или выше)</a> <br>
<a href="/logout">
  <input type="submit" value="Выйти из аккаунта">
</a>
</body>
</html>